body {
    background: url(app/assets/img/pozadinaUPosti.jpg) no-repeat fixed center center;
    background-size: cover;
    font-family: 'Roboto',sans-serif;
}

.logo {
    width: 300px;
    height: 38px;
    background: url('app/assets/img/logo_cp.png') no-repeat;
    margin: 6em auto 2em;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #AB772C;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#idSifraRadnika {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#idSifraRadnika:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#idTajnaSifraRadnika {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#idTajnaSifraRadnika:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #AB772C;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #AB772C;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #AB772C;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #AB772C;
}
.headerprijave {
    padding-top: 40px;
    text-align: center;
    color: #000;
   
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    
}