               
<!--<ul class="nav nav-pills nav-stacked side-navigation">
     <li *ngFor="let zadatak of meni; let idx = index; let frst = first; let track=trackBy" 
         class="menu-list"
         [class.active]="frst" (click)="onSelect(idx)" [ngClass]="{active: isSelected}">
         <a href="javascript:;" > {{zadatak.NAZIV_ZAD}}</a>
         <ul class="child-list">
             <li *ngFor="let drugi of zadatak.DecaZadaci" class="menu-list">
                 <a href="javascript:;">{{drugi.ZAD_ID}} {{drugi.NAZIV_ZAD}}</a>
             </li>
         </ul>
     </li>
</ul>-->

<ul *ngFor="let zadatak of meni" [ngClass]="{'nav': zadatak.Depth==1, 'nav-pills': zadatak.Depth==1, 'nav-stacked': zadatak.Depth==1, 'side-navigation': zadatak.Depth==1, 'child-list': zadatak.Depth!=1}">
    <li class="menu-list">
        <a href="javascript:;" > {{zadatak.NAZIV_ZAD}}</a>
        <meni-view [meni]="zadatak.DecaZadaci"></meni-view>
    </li>
</ul>